
@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>ForgetPassword</h1>

@*<html lang="en" class="wf-poppins-n3-active wf-roboto-n5-active wf-roboto-n6-active wf-roboto-n7-active wf-poppins-n4-active wf-poppins-n5-active wf-poppins-n6-active wf-poppins-n7-active wf-roboto-n3-active wf-roboto-n4-active wf-active js-focus-visible">
<!-- begin::Head -->
<head>

    <!--begin::Base Path (base relative path for assets of this page) -->
    <!--end::Base Path -->
    <meta charset="utf-8">
    <title>CTDOT TAM | Login Page</title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .kt-login__logo {
            height: 90px !important;
        }
    </style>
</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed" data-gr-c-s-loaded="true" cz-shortcut-listen="true">

    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                <!--begin::Aside-->
                <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: url(/images/bg.jpg);">
                    <div class="kt-grid__item">
                        <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="kt-login__logo">
                            <img src="/images/logo.png">
                        </a>

                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                        <div class="kt-grid__item kt-grid__item--middle">
                            <h3 class="kt-login__title">Conn DOT</h3>

                        </div>
                    </div>
                    <div class="kt-grid__item">
                        <div class="kt-login__info">
                            <div class="kt-login__copyright">
                                &copy; @DateTime.Now.Year CTDOT
                            </div>

                        </div>
                    </div>
                </div>


                <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">




                    <!--begin::Body-->
                    <div class="kt-login__body" id="﻿LoginArea">

                        <!--begin::Signin-->
                        <div class="kt-login__form">
                            <div class="kt-login__title">
                                <h3>Forgot Password</h3>
                            </div>

                            <!--begin::Form-->

                            <form class="kt-form" method="post">

                                <div class="form-group">
                                    <input id="emailInput" type="text" class="form-control" placeholder="PleaseEnterUseraName">
                                </div>


                                <!--begin::Action-->
                                <div class="kt-login__actions">

                                    <button id="submitBtn" style="margin-left: 44px;" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Submit</button>

                                </div>

                                <!--end::Action-->
                            </form>

                            <div class="kt-login__actions">


                                <button style="margin-top: -154px;margin-left: 300px;" onclick="window.location.href = 'Login';"
                                        class="btn color btn-elevate kt-login__btn-primary">
                                    Cancel
                                </button>

                            </div>
                        </div>

                        <!--end::Signin-->
                    </div>

                    <!--end::Body-->
                </div>

                <!--end::Content-->
            </div>
        </div>
    </div>

</body>

</html>

*@